*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

h3{ margin : 1vmax 0; }

.layout-details{
  display: flex;
  justify-content: space-between;
  /* align-content: flex-start; */
  flex-wrap:wrap;
  font-size:large;
}

label{
  display:inline-block;
  margin-right: 0.5vmax;
}

.layout-details > div{
  flex:0 0 33%;
  /* border: 0.1vmax solid black; */
}

.layout-details > .flexgrow{
  flex-grow: 1;
}

.layout-details > div:last-child > label[for="govt"], .layout-details > div:last-child > label[for="pincode"], .layout-details > div:last-child > label[for="nationality"]{ margin-left:0.5vmax; } /*for is same as htmlFor*/

.buttonposition{
  display:flex;
  justify-content: center;
}

.buttonposition > button{
  margin:2vmax;
  width: 10%;
  aspect-ratio: 4/1;
}